<h1>Add Student</h1>

<form (ngSubmit)="onSubmit()" #studentForm="ngForm" novalidate>
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" [(ngModel)]="student.name" name="name" required>
    <div *ngIf="studentForm.controls['name'].invalid && (studentForm.controls['name'].dirty || studentForm.controls['name'].touched)" class="error">
      Name is required
    </div>
  </div>
  <div>
    <label for="contact">Contact</label>
    <input type="text" id="contact" [(ngModel)]="student.contact" name="contact" required>
    <div *ngIf="studentForm.controls['contact'].invalid && (studentForm.controls['contact'].dirty || studentForm.controls['contact'].touched)" class="error">
      Contact is required
    </div>
  </div>

  <div>
    <label for="address">Address</label>
    <input type="text" id="address" [(ngModel)]="student.address" name="address" required>
    <div *ngIf="studentForm.controls['address'].invalid && (studentForm.controls['address'].dirty || studentForm.controls['address'].touched)" class="error">
      Address is required
    </div>
  </div>
  <div>
    <label for="email">email</label>
    <input type="text" id="email" [(ngModel)]="student.email" name="email" required>
    <div *ngIf="studentForm.controls['email'].invalid && (studentForm.controls['email'].dirty || studentForm.controls['email'].touched)" class="error">
      Email is required
    </div>
  </div>
  <button type="submit">Submit</button>
</form>
